#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#quote-box .quote-text {
    text-align: center !important;
    width: 450px !important;
    height: auto !important;
    clear: both !important;
    font-weight: 500 !important;
    font-size: 1.75em !important;
}